[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
structlog = "*"
opencv-python = "*"

[dev-packages]

[scripts]
bot = "python main.py"
train = "python train.py"

[requires]
python_version = "3.8"
